---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Acasa";

---
<BaseLayout pageTitle={pageTitle}>
  <h2>Un subtitlu cinstit de dragul esteticii</h2>
  
  <Greeting client:load messages={["Buna ziua", "Bine ati venit", "Hei", "Salut"]} />
</BaseLayout>