<div transition:animate="slide" class="nav-links">
    <a href="/">Acasa</a>
    <a href="/about">Despre mine</a>
    <a href="/blog">Blog</a>
    <a href="/tags/">Taguri</a>
    <a href="/snake">Snake</a>
  </div>